a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/* Show in default resolution screen*/
div {
	width: 960px;
	position: relative;
	margin: 0 auto;
	line-height: 1.4em;
}

/* If in mobile screen with maximum width 479px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960) */
@media only screen and (max-width: 479px) {
	div {
		width: 90%;
	}
}
table {
	border-collapse: collapse;
	width: 100%;
}

table,
td,
th {
	border: 1px solid #ddd;
	text-align: center;
}

td,
th {
	padding: 10px;
}

thead {
	font-weight: bold;
}

/* classes */
.user-city,
.user-company {
	text-align: right;
}
